{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing 
        elit. Recusandae unde consequuntur eaque animi 
        dignissimos nostrum illo quibusdam neque nemo 
        obcaecati, sequi dolor alias voluptatum eos 
        itaque! Sit accusantium perspiciatis quidem, 
        asperiores id unde consequatur, culpa facilis
        quia dolore dolorum est qui reprehenderit 
        consequuntur cupiditate eaque? Dicta quae 
        temporibus rerum inventore tempora officiis 
        odio. Sapiente quisquam labore aperiam nostrum 
        animi aliquam incidunt atque rem quo amet quia 
        tempora, tempore porro ea molestiae doloremque 
        cumque expedita eaque quae ducimus eum blanditiis 
        mollitia! Quod labore voluptatem quam aut consequatur dolorum, earum nihil assumenda vitae! Animi aperiam nihil, recusandae tenetur
        sapiente laborum magnam aliquid.</p> 

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>



    </section>
</main>


{% endblock %}